.gallery__button {
  width: 24px;
  height: 20px;
  background-color: transparent;
  background-size: 24px 20px;
  background-position:center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
