.description {
  border-bottom: 1px solid $colorSecond;
  grid-area: description;
}

@media all and (min-width: $breakpoint-desktop) {
  .description {
    border-right: 1px solid $colorSecond;
  }
}
