.header__menu-item {
  @include font($fontFamily, 11px, 16px, normal, 400, $colorSecond);
  color: $colorSecond;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 16px;
}

@media all and (min-width: $breakpoint-tablet) {
  .header__menu-item {
    font-size: 12px;
    margin-right: 20px;
  }
}
