.header__menu {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -70px;
  left: 0;
  background-color: $colorPrime;
  box-sizing: border-box;
  z-index: 1;
  opacity: 0;
  transition: transform 1s ease-in, opacity .8s linear .3s;
  padding: 0 20px;
}
