.header {
  display: flex;
  justify-content: end;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $colorPrime;
  border-bottom: 1px solid $colorSecond;
  grid-area: header;
  transition: transform .8s;
}
