.qualities__article {
  padding: 20px;
  border-bottom: 1px solid $colorSecond;
  box-sizing: border-box;
}

@media all and (min-width: $breakpoint-tablet) {
  .qualities__article {
    padding: 40px 50px;
    min-height: 506px;
    border-right: 1px solid $colorSecond;
  }

  .qualities__article:last-of-type {
    border-right: none;
  }
}
