.form__submit-btn {
  width: 80px;
  height: 32px;
  @include font($fontFamily, 10px, 13px, normal, 400, $colorPrime);
  letter-spacing: 1px;
  background-color: $colorSecond;
  border: none;
  cursor: pointer;
}
