.lead__link {
  width: 280px;
  height: 64px;
  border: 1px solid $colorSecond;
  box-sizing: border-box;
  @include font ($fontFamily, 15px, 60px, normal, 400, $colorSecond);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: $colorSecond;
  text-decoration: none;

  &:hover {
    background-color: $colorSecond;
    color: $colorPrime;
    font-weight: 600;
  }
}
