.page__lead {
  padding: 60px 20px;
}

@media all and (min-width: $breakpoint-tablet) {
  .page__lead {
    padding: 100px 34px;
  }
}

@media all and (min-width: $breakpoint-desktop) {
  .page__lead {
    padding: 150px 0;
  }
}
