.gallery__button_type_left {
  background-image: url('../images/arrow.svg');
  margin-right: 40px;
}

@media all and (min-width: $breakpoint-tablet) {
  .gallery__button_type_left {
    margin-right: 88px;
  }
}

@media all and (min-width: $breakpoint-desktop) {
  .gallery__button_type_left {
    margin-right: 122px;
  }
}
